.footer {
    text-align: center;
    padding: 2rem 0;
    &-link {
        color: #fff;
        text-decoration: none;
        &:hover {
            color: #fff;
            text-decoration: underline;
          }
          
      }
  }
